@media screen and (max-width:576px) {
    .navbar,.link-items{
        flex-direction: column;
    }
    .banner{
    flex-direction: column;
        
    }
    .changeHabit-items{
        
        grid-template-columns:1fr;

    }
}